/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset default css */
* {
  padding: 0;
  margin: 0;
  border: none;  
  box-sizing: border-box;
  font-size: 100%;
}

// navbar
$navbarH: 60px;
.navbar {
  height: $navbarH;
}
.container {
  height: calc(100vh - $navbarH);
}